* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.header {
  width: 100%;
  background-color: #F8F8F6;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-header img {
  width: 100px; /* Set your desired fixed size for the logo */
}

.header-btns button {
  margin-left: 30px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header-btns button:not(:last-child) {
    display: none;
  }
}

/* Your CSS file (e.g., HeroSection.css) */
.hero-section {
  display: flex;
  height: 500px; /* Adjust the height as needed */
}

.hero-section-text,
.hero-section-img {
  flex: 1;
  display: flex;
  flex-direction: column; /* Ensure a column layout for text and buttons */
  justify-content: center;
  align-items: center;
}

.hero-section-text {
  padding: 20px;
  text-align: center;
}

.hero-section-text h1 {
  font-size: 45px;
  font-weight: bold;
  color: black; /* Set the text color */
}

.hero-section-text .button-container-hero-section {
  margin-top: 20px;
}

.hero-section-text button {
  margin-right: 20px;
  margin-left: 20px;
  background-color: transparent;
  color: black;
  padding: 15px 30px;
  border: 2px solid #9E73DA;
  border-radius: 25px;
  cursor: pointer;
}
.hero-section-text button:hover {
  background-color: #9E73DA;
  transition: 0.3s;
  color: white;
}

.hero-section-img {
  height: 100%; /* Make the image section take full height */
  background-image: url('./images/Untitled design.png'); /* Add your image path */
  background-size: cover;
  background-position: center;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column; /* Change to a column layout on smaller screens */
    height: auto; /* Adjust height to auto for better responsiveness */
  }

  .hero-section-text,
  .hero-section-img {
    flex: none; /* Reset flex value for both sections */
    width: 100%; /* Set width to 100% for both sections on smaller screens */
  }

  .hero-section-img {
    order: -1; /* Move the image section to the top in the column layout */
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-image: url('./images/Untitled design.png'); /* Add your image path */
    background-repeat: no-repeat;
  }

  .hero-section-text h1 {
    font-size: 30px; /* Adjust font size for better readability on smaller screens */
  }
}

/* Your CSS file (e.g., Section1.css) */
.section-1 {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #312A5D;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  padding: 20px; /* Adjust padding as needed */
}

.section-1-textarea {
  flex: 1;
  max-width: 400px; /* Set max-width for better responsiveness */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content within the text area */
}

.section-1-textarea h2 {
  font-size: 39px;
  margin-top: 50px;
  color: white;
  margin-bottom: 10px;
  text-align: center; /* Center the text content */
}

.section-1-textarea button {
  cursor: pointer;
  padding: 13px 35px;
  border: 2px solid #9E73DA;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 25px;
}

.section-1-offers {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offer-section-1 {
  width: 48%; /* Set the width for better spacing between boxes */
  margin-bottom: 20px; /* Adjust margin as needed */
  background-color: #2B2354; /* Set the background color for the offer boxes */
  padding: 20px; /* Add padding to the offer boxes */
  color: white;
  text-align: center; /* Center the content within the offer boxes */
}

.offer-section-1:hover {
  cursor: pointer;
  background-color: #9E73DA; /* Set the background color for the offer boxes */
  transition: 0.3s;
}

.offer-section-1 img {
  width: 40px; /* Make the image inside each offer box take up the full width */
  height: auto; /* Maintain the aspect ratio */
}

.offer-section-1 h3 {
  font-size: 18px;
  margin: 10px 0;
}

.offer-section-1 p {
  font-size: 16px;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
  .section-1 {
    flex-direction: column; /* Change to a column layout on smaller screens */
  }

  .section-1-textarea button {
    margin-bottom: 30px;
  }

  .section-1-textarea {
    align-items: center; /* Center the text area in the middle on smaller screens */
    margin: auto; /* Center the text area horizontally */
  }

  .section-1-offers {
    flex: none; /* Reset flex value for the offer section */
  }

  .offer-section-1 {
    width: 100%; /* Full width for offer boxes on smaller screens */
  }
}
/* Your CSS file (e.g., Section2.css) */
.section-2 {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 100px;
}

.heading-section-2 {
  text-align: center;
}

.projects-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.project-section-2 {
  width: 48%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.text-area-section-2-project,
.img-section-2-project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.text-area-section-2-project h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-area-section-2-project p {
  font-size: 16px;
  color: #555;
}

.text-area-section-2-project button {
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid #9E73DA;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 10px;
}

.text-area-section-2-project button:hover {
  transition: 0.3s;
  background-color: #9E73DA;
  color: white;
}

.img-section-2-project img {
  width: 100px;
  border-radius: 5px;
}

.heading-section-2 h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
  .project-section-2 {
    flex-direction: column;
    width: 100%;
  }

  .text-area-section-2-project,
  .img-section-2-project {
    width: 100%;
  }
}

/* Your CSS file (e.g., Section3.css) */
.section-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}

.img-section-3 {
  width: 40%; /* Adjust the width as needed */
  height: 50vh; /* Adjust the height as needed */
  background-color: #e0e0e0; /* Example background color */
  border-radius: 10px; /* Add border radius for rounded corners */
  background-image: url('./images/Inflection\ Points_\ 3\ Business\ Growth\ Triggers\ _\ Entrepreneur.jpg'); /* Replace 'your-image-path.jpg' with the actual path or URL of your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* Hide overflowing content */
}

.text-section-3 {
  width: 48%; /* Adjust the width as needed */
  text-align: center;
}

.text-section-3 h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.text-section-3 p {
  font-size: 16px;
  color: #555;
}

.text-section-3 button {
  padding: 12px 50px;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #6a00f4;
  margin-top: 50px;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
  .section-3 {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center; /* Center items in the column */
  }

  .img-section-3,
  .text-section-3 {
    width: 100%; /* Full width on small screens */
  }
  .text-section-3 {
    margin-top: 40px;
  }
}
